  /* Main Page */


  html, body {
    font-family:'Times New Roman', Times, serif;
    background-color: #e19ded;
    margin: 10px;
    text-align: center; 
  }

  nav {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
  }

  nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #007BFF; 
  }

  nav span {
    color: gray;
  }

  img{
    display: block;
    width: 300px;
    height: 275px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
 }


 .Welcome {
    font-style: Bold;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
    color: #000000;
    width : 100%;
}     

/* Project Page w/Linear Algebra*/

  h2 {
    margin-top: 6px;
    margin-bottom: 20px;
  }

  nav.submenu {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
  }

  nav.submenu a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
    transition: color 0.3s;
  }

  nav.submenu a:hover {
    color: #007BFF; 
  }
  nav.submenu span {
    color: gray;
  } 

  h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
    font-size: 25px;
  }

  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding-inline: 1rem;
    line-height: 1.7;
    font-size: 20px;
    text-align: left;
  }

  h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    text-align: left;
    font-size: 20px;
  }

  h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    padding-inline: 1rem;
    line-height: 1.7;
    font-style: italic;
    text-align: left;
    font-size: 15px;
  }

    p.code {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    margin: 0 auto;
    padding-inline: 1rem;
    line-height: 1.7;
    font-size: 13px;
    text-align: left;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80%;
    height: auto;
  }

  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80%;
    height: 400px;
    border: none;
  }

  h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    padding-inline: 1rem;
    line-height: 1.7;
    font-style: normal;
    text-align: left;
    font-size: 18px;
  }

  h5.email {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    margin-top: 20px;
    padding-inline: 1rem;
    line-height: 1.7;
    font-style: italic;
    text-align: center;
    font-size: 15px;
  }

  h6.email {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px auto;
    padding-inline: 1rem;
    line-height: 1.7;
    font-style: Italic;
    text-align: center;
    font-size:13px;
    color: rgb(0, 0, 0);
  }


   img.picture{ 
    display: block;
    width: 300px;
    height: 275px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 }

 p.descrip {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    text-align: center;
    color: #000000;
    width : 100%;
  
 }